
body {
    
}

.container {
    background-color: darkgrey;
    border-radius: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile_container {
    width: 20%;
    background-color: darkcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img_container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.img_container img {
    border-radius: 50%;
}

.footnote h2, p{
    text-align: center;
}